.articleNew{
  display: block;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
}

label{
  display: block;
}

.articleBtn{
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 30px;
  width: 35%;
  background-color: #CCCCFF;
  font-size: 18px;
}

.articleBtn:hover{
  background-color: #6500fc;
  color: white;
}