.connectionItem{
  padding: 7px 0;
  margin: 25px 0;
  border: ridge #FF713E;
  border-radius: 20px;
}

.connectionItem p{
  width: 100%;
  padding: 0 5px;
}

.connectionBtn{
  position: fixed;
  bottom: 11.7px;
  right: 34px;
  font-size: 25px;
  z-index: 10;
  color: #FFFF00;
}

.connectionForm{
  position: fixed;
  top: 100px;
  right: 62px;
  background-color:rgba(99, 91, 91, 0.9);
  padding: 50px;
}

.connectionNew{
  margin: 50px 0;
}