footer{
  width: 100%;
  background: linear-gradient(to top left, #6500fc 50%, white 50%);
  padding: 10px 0;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  border-top: solid 0.1px lightgray;
  font-size: 25px;
}

.fadeLeft {
  animation-name: fadeleft;
  animation-duration: 2s;
}
@keyframes fadeleft {
from {
  opacity: 0;
   transform: translateX(375px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
}

.footerRight a{
  color: lightgray;
}