.registration{
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

.registration input{
  margin: 50px auto 0px auto;
  display: block;
  padding: 7px 30px;
}

.registration p{
  text-align: center;
  font-size: 30px;
}

.registration button{
  margin-top: 70px;
  padding: 10px 20px;
  border-radius: 30px;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}