.search input{
  width: 100%;
  margin: 20px 0;
}

.search label{
  text-align: center;
  margin-top: 20px;
}

.search img{
  width: calc(100% / 3);
  height: 111.66px;
  float: left;
}

.search p{
  clear: both;
}