.search input{
  width: 88%;
  margin: 20px 0;
  font-size: 16px;
  transform: scale(1, 0.8);
}

.search label{
  text-align: center;
  margin-top: 10px;
}

.search img{
  width: calc(100% / 3);
  height: 111.66px;
  float: left;
}

.search p{
  clear: both;
  margin: 20px 0 0 0;
  text-align: center;
}

.imageSearch{
  padding: 0 7px;
  line-height: 1.5;
}

.searchContainer{
  display: flex;
  justify-content: space-between;
}